/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* 
    ========================================
     Custom Styles 
    ========================================
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.zoom-loc-btns {
    display: block;
    position: fixed;
    margin: 0;
    right: 45px;
    bottom: 75px;
    width: 46px;
}

.loc-btn {
    background: white;
    /* rgba(187, 186, 186, 0.2); */
    border-radius: 10px;
    border: 2px solid rgba(200, 200, 200);
    color: rgba(53, 52, 52);
    text-decoration: none;
    font-size: 32px;
    height: 36px;
    /*width: 34px; */
    display: block;
    position: relative;
    padding-top: 7px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 10px;
    margin-bottom: 5px;
}

.zoom-btns {
    background: white;
    /* rgba(187, 186, 186, 0.2); */
    border-radius: 10px;
    border: 2px solid rgba(200, 200, 200);
}

.zoom-btns a {
    color: rgba(53, 52, 52);
    text-decoration: none;
    font-size: 24px;
    height: 32px;
    /*width: 34px; */
    display: block;
    position: relative;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255);
}

.zoom-btns a.zoomout-btn {
    padding-top: 12px;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 8px;
}

.zoom-btns a.zoomin-btn {
    padding-top: 8px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 8px;
}

.zoom-btns hr {
    width: 80%;
    /* text-align: center; */
    margin: 0 0 0 3px;
    padding: 0px;
    /* border: 1px; */
}

.zoom-loc-btns a:hover {
    background-color: rgba(106, 109, 116);
}


/* 
    ========================================
     Map section
    ========================================
*/

.map-div {
    margin-top: 60px;
    width: 2048px;
    height: 1325px;
}

.map-img {
    width: 100%;
    height: 100%;
    z-index: -1;
}


/* 
    ========================================
     Trail Map section
    ========================================
*/

.trail-map-div {
    margin-top: 60px;
    width: 980px;
    height: 992px;
}

.trail-map-img {
    width: 980px;
    height: 992px;
    z-index: -1;
}


/* 
    ========================================
     Map markers
    ========================================
*/

.map-marker {
    position: absolute;
    top: 0px;
    left: 0px;
    /* display: none; */
}

.place-marker {
    color: rgba(255, 0, 0, .80);
}

.loc_marker {
    color: rgba(0, 140, 255, 0.80);
}

.loc-img {
    position: absolute;
    /* display: none; */
    top: 0px;
    left: 0px;
    width: 25px;
    height: 25px;
}

.center-marker {
    font-size: 4px;
    color: tan;
    background-color: red;
    width: 4px;
    height: 4px;
    position: absolute;
    top: 65px;
    left: 85px;
    display: none;
    /* z-index: 2; */
}

.marker-tool {
    padding: 5px;
    margin: 5px;
    display: none;
    position: fixed;
    margin: 0;
    right: 125px;
    bottom: 100px;
    width: 200px;
    background: white;
    font-size: 12px;
    /* rgba(187, 186, 186, 0.2); */
    border-radius: 10px;
    border: 2px solid rgba(200, 200, 200);
}

.tool-input {
    width: 40px;
}

.tool-input2 {
    width: 175px;
}

.tool-button {
    padding: 5px;
    margin: 5px;
}


/* Heres an example that targets browser widths between 320px and 480px, common sizes for smartphones.
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body {
       background: #999;
       width: 100%;
    }
}
You can find more examples here: http://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */