/*
    ========================================
     Nav Bar
    ========================================
*/

a:link {
    text-decoration: none;
}

.pageheader {
    padding: 6px 16px;
    text-decoration: none;
    font-size: 24px;
    display: block;
    background: rgb(24, 100, 24);
    /* rgb(115, 118, 125); */
    color: white;
    width: 40%;
    text-align: center;
}

.pageheaderline {
    padding: 2px 16px;
    display: block;
}


/* .topnav a.hamburger-icon {
    display: block;
    position: absolute;
    right: 15px;
    top: 5px;
    margin-left: auto;
    margin-right: auto;
} */

.topnav a.map-dest-toggle {
    display: block;
    position: absolute;
    right: 138px;
    top: 16px;
    margin-left: auto;
    margin-right: auto;
}

.topnav a.trailhead-btn {
    display: block;
    position: absolute;
    right: 40px;
    top: 16px;
    margin-left: auto;
    margin-right: auto;
}

.topnav a.info-btn {
    display: block;
    position: absolute;
    right: 12px;
    top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia, Helvetica, sans-serif;
    font-style: italic;
    font-size: 24px;
}

.topnav {
    overflow: hidden;
    background: rgb(24, 100, 24);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: rgb(111, 138, 111);
}


/*
    ========================================
     Destination Gallery
    ========================================
*/

.gallery {
    margin: 100px 30px 30px 30px;
    padding: 10px 10px 10px 10px;
    display: block;
    background: white;
}

.dest-img {
    /* width and padding is dynamically changed at page load 
    width: 325px;
    padding: 10px; */
    background: white;
}

.dest-name {
    font-size: 14px;
    color: red;
}

.show-route-btn {
    font-size: 14px;
    float: right;
    color: green;
}

.dest-data {
    font-size: 16px;
    color: blue;
}

.dest-desc-btn {
    font-size: 16px;
    float: right;
    color: purple;
}