/*
    ========================================
     Nav Bar
    ========================================
*/

a:link {
    text-decoration: none;
}

.pageheader {
    padding: 6px 16px;
    text-decoration: none;
    font-size: 24px;
    display: block;
    background: rgb(115, 118, 125);
    color: white;
    width: 50%;
    text-align: center;
}

.pageheaderline {
    padding: 2px 16px;
    display: block;
}

.topnav a.hamburger-icon {
    display: block;
    position: absolute;
    right: 15px;
    top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.topnav a.map-dest-toggle {
    display: block;
    position: absolute;
    right: 150px;
    top: 23px;
    margin-left: auto;
    margin-right: auto;
}

.topnav a.trailhead-btn {
    display: block;
    position: absolute;
    right: 60px;
    top: 23px;
    margin-left: auto;
    margin-right: auto;
}

.topnav {
    overflow: hidden;
    background: rgb(115, 118, 125);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}


/*
    ========================================
     Destination Gallery
    ========================================
*/

.gallery {
    /* overflow-x: auto; */
    margin: 72px 10px 10px 10px;
    /* width: 2600px;
    padding: 10px 10px 10px 10px; */
    display: block;
    background: white;
    border-radius: 10px;
    border: 2px solid rgba(200, 200, 200);
}

.gallery-dest {
    background: white;
    /* border-radius: 10px; */
    border: 10px solid white;
}

.gallery a {
    color: rgba(100, 100, 100);
}

.dest-img {
    width: 325px
}

.dest-name {
    font-size: 14px;
    color: red;
}

.show-route-btn {
    font-size: 14px;
    float: right;
    color: green;
}

.dest-data {
    font-size: 16px;
    color: blue;
}

.dest-desc-btn {
    font-size: 16px;
    float: right;
    color: purple;
}